---
# tasks file for roles/rkhunter
- name: "Set update variable"
  ansible.builtin.set_fact:
    rkhunter_update_status: "no"
  when: update is not defined

- name: "Set update variable"
  ansible.builtin.set_fact:
    rkhunter_update_status: "{{ update }}"
  when: update is defined

- name: "Get rkhunter status"
  ansible.builtin.include_tasks: get_rkhunter_status.yml

- name: "Update rkhunter database if selected"
  when: rkhunter_status.stdout != "" and rkhunter_update_status | bool
  block:
    - name: "Update rkhunter database"
      ansible.builtin.include_tasks: update_rkhunter.yml

    - name: "Get rkhunter status again"
      ansible.builtin.include_tasks: get_rkhunter_status.yml
